@model IEnumerable<prog_practice.Models.ClaimHistory>

<h2 style="text-align:center; color:black;">Claim Activity History</h2>
<hr />

<table style="width:100%; border-collapse:collapse;">
    <tr style="background:#007bff; color:white;">
        <th>Claim ID</th>
        <th>Action</th>
        <th>Performed By</th>
        <th>Date & Time</th>
    </tr>
    @foreach (var h in Model)
    {
        <tr style="text-align:center; border-bottom:1px solid #eee;">
            <td>@h.ClaimID</td>
            <td>@h.Action</td>
            <td>@h.PerformedBy</td>
            <td>@h.Timestamp.ToString("dd MMM yyyy HH:mm")</td>
        </tr>
    }
</table>



